<ul>
<% for mutation in mutation.children %>

    <li><%= link_to_unless_current mutation.id, mutation %>

    <% if !mutation.children.empty? %>
      <%= toggle_div "open", mutation.id %>

      <%= toggle_div_id "open", mutation.id %> 
        <%= render :partial => 'children', :locals => { :mutation => mutation } %>
      </div>
    <% end %>

<% end %>
</ul>
