
<% evolution = evolution||@evolution %>

<% currents = evolution.class.find(:all, :conditions => {:super_id => evolution.super_id}, :order => "prioritization ASC" ) %>
<% priority_max = evolution.class.maximum(:prioritization, :conditions => {:super_id => evolution.super_id} ) %>
<% counter = 0 %>

<% if priority_max %>
  <% while counter < priority_max %>
    <% counter = counter + 1 %>
    <fieldset><legend><strong>Phase (<%= counter %>)</strong></legend><ol>
    <% currents.each do |one| %>
      <% if one.prioritization == counter %>

	  <li>
	    <%= render :partial => one %>
	  </li>

         

      <% end %>
    <% end %>
    </ol></fieldset>
  <% end %>
<% end %>

