<ul><% for evolution in evolution.children %>

    <li><%= link_to_unless_current evolution.id, evolution %>

    <% if !evolution.children.empty? %>
      <%= toggle_div "open", evolution.id %>

      <%= toggle_div_id "open", evolution.id %> 
        <%= render :partial => 'children', :locals => { :evolution => evolution } %>
        </div>
      <% end %>

    <% end %>
<% end %>
</ul>
