<% title "Evolution Priority" %>

<p>
  <strong>Id:</strong>
  <%=h @evolution_priority.id %>
</p>

<p>
  <%= link_to "Edit", edit_evolution_priority_path(@evolution_priority) %> |
  <%= link_to "Destroy", @evolution_priority, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", evolution_priorities_path %>
</p>
